<footer class="py-4 text-[var(--font-xs)]">
  <div class="mx-auto max-w-[960px] px-[30px]">
    <div class="flex w-full flex-col-reverse items-start justify-between text-[#65638f] md:flex-row md:items-center">
      <p>
        &copy;{new Date().getFullYear()} All rights reserved
        &mdash; Template by <a href="https://www.sandoche.com" target="_blank" rel="noreferrer">Sandoche</a>
        &mdash; Powered by <a href="https://t3mpl.n4no.com/" target="_blank" rel="noreferrer" title="T3MPL Editor">T3MPL</a>
      </p>
      <ul class="m-0 flex list-none gap-2 p-0 md:gap-8">
        <li><a href="/policy/">Privacy Policy</a></li>
        <li><a href="https://github.com/lanis-mobile/lanis-mobile" target="_blank" rel="noreferrer">GitHub</a></li>
      </ul>
    </div>
  </div>
</footer>
