---
import { Image } from 'astro:assets';
import googlePlayBadgeSource from '../../assets/google-play-badge.png';
import iosBadgeSource from '../../assets/ios-badge.svg';

interface Props {
  mobile?: boolean;
}

const { mobile = false } = Astro.props;
---

<div class:list={[
  'flex flex-row items-center',
  mobile ? 'justify-center md:hidden' : 'hidden md:flex',
]}>
  <a
    class="inline-block"
    href="https://play.google.com/store/apps/details?id=io.github.alessioc42.sph"
    target="_blank"
    rel="noreferrer"
    title="Get on Google Play"
  >
    <Image src={googlePlayBadgeSource} alt="Get on Google Play" class="w-[126px] md:w-[176.4px]" sizes="(min-width: 768px) 176px, 126px" />
  </a>
  <a
    href="https://apps.apple.com/de/app/lanis-mobile/id6511247743?l=en-GB"
    class="inline-block"
    target="_blank"
    rel="noreferrer"
    title="Get on Appstore"
  >
    <Image src={iosBadgeSource} alt="Get on Appstore" class="w-[100px] md:w-[140px]" sizes="(min-width: 768px) 140px, 100px" />
  </a>
</div>
